.profile-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  padding: 1rem;
}
.profile-loading {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  flex-direction: column;
  /* min-width: 400px; */
  width: 400px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* margin-bottom: 0.6rem; */
}
.input-group label {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  color: #374151;
}
.input-group option {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
}
.input-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
}
.profile-action {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
@media (max-width: 321px) {
  .profile-wrapper {
    width: 310px;
    padding: 0.6rem;
  }
  .profile-action {
    gap: 34px;
  }
}
@media (min-width: 322px) and (max-width: 376px) {
  .profile-wrapper {
    width: 350px;
    padding: 0.8rem;
  }
  .profile-action {
    gap: 84px;
  }
}
@media (min-width: 429px) and (max-width: 769px) {
  .profile-wrapper {
    width: 500px;
    padding: 0.8rem;
  }
}
