.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  padding: 1rem;
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  flex-direction: column;
  /* min-width: 400px; */
  width: 400px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.signup-card {
  width: 100%;
  max-width: 720px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0.2rem;
  box-sizing: border-box;
  margin-bottom: 0.3rem;
}
.signup-wrapper h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #111827;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.signup-wrapper p {
  margin-bottom: 1rem;
  text-align: center;
  color: #374151;
  font-size: 1rem;
  font-weight: 600;
}

.auth-link {
  color: black;
  text-decoration: underline;
  font-weight: 600;
}
@media (max-width: 321px) {
  .signup-wrapper {
    width: 310px;
    padding: 0.4rem;
  }
  .signup-wrapper h2 {
    font-size: 2rem;
  }
}
@media (min-width: 322px) and (max-width: 376px) {
  .signup-wrapper {
    width: 350px;
    padding: 5px;
  }
}
@media (min-width: 378px) and (max-width: 426px) {
  .signup-card {
    padding: 5px;
  }
  .signup-wrapper h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 429px) and (max-width: 769px) {
  .signup-wrapper {
    width: 500px;
    padding: 0.8rem;
  }
  .signup-wrapper h2 {
    font-size: 2.5rem;
  }
}
